public/xml/persTest.rnc

# datatypes d = "http://relaxng.org/ns/compatibility/datatypes/1.0"
# KSR: 2011.02.14 (tei_all); 2011.02.02; 2011.01.30; 2011.01.29 (reduceret. struk; fra titleTest)

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
namespace ns1 = "http://www.tei-c.org/ns/1.0"

include "tei_all.rnc" {

teiHeader =
  element ns1:teiHeader {
     element ns1:fileDesc {
        element ns1:titleStmt {
           element ns1:title {
           text },
        empty },
     empty },
     element ns1:revisionDesc {
        element ns1:change {
         attribute xml:id { xsd:ID { pattern="ELR|HY|JEL|KSG|KSR|RSB|VAP"}}?,
         attribute who { xsd:string { pattern="ELR|HY|JEL|KSG|KSR|RSB|VAP"}},
         attribute when { xsd:date },
        text } *,
     empty },
  empty }
  
body =
   element ns1:head {
   text },
   element ns1:table {
      element ns1:row {
         attribute xml:id { xsd:ID { pattern="pe[0-9]+"} },
         element ns1:cell {
            attribute type { xsd:string { pattern="name" } },
            element ns1:note {
              attribute type { xsd:string { pattern="firstName" } },
            text },
            element ns1:note {
              attribute type { xsd:string { pattern="lastName" } },
            text } ?,
         empty } *,
         element ns1:cell {
            attribute type { xsd:string { pattern="pseudo" } },
            element ns1:note {
              attribute type { xsd:string { pattern="firstName" } },
            text },
            element ns1:note {
              attribute type { xsd:string { pattern="lastName" } },
            text } ?,
         empty } *,
         element ns1:cell {
            attribute type { xsd:string { pattern="year" } },
            xsd:string { pattern="[0-9]{4}-|[0-9]{4}-[0-9]{4}|[0-9]{3}-[0-9]{4}|[0-9]{3}-[0-9]{3}|[0-9]{2}-[0-9]{3}|[0-9]{2}-[0-9]{2}|[0-9]{1}-[0-9]{2}|[0-9]{1}-[0-9]{1}|ca. [0-9]{4}-[0-9]{4}|ca. [0-9]{3}-[0-9]{4}|ca. [0-9]{3}-[0-9]{3}|ca. [0-9]{2}-[0-9]{3}|ca. [0-9]{2}-[0-9]{2}|ca. [0-9]{1}-[0-9]{2}|ca. [0-9]{1}-[0-9]{1}|[0-9]{4} - ca. [0-9]{4}|[0-9]{3} - ca. [0-9]{4}|[0-9]{3} - ca. [0-9]{3}|[0-9]{2} - ca. [0-9]{3}|[0-9]{2} - ca. [0-9]{2}|[0-9]{1} - ca. [0-9]{2}|[0-9]{1} - ca. [0-9]{1}|ca. [0-9]{4} - ca. [0-9]{4}|ca. [0-9]{3} - ca. [0-9]{4}|ca. [0-9]{3} - ca. [0-9]{3}|ca. [0-9]{2} - ca. [0-9]{3}|ca. [0-9]{2} - ca. [0-9]{2}|ca. [0-9]{1} - ca. [0-9]{2}|ca. [0-9]{1} - ca. [0-9]{1}|efter [0-9]{4} - ca. [0-9]{4}|efter [0-9]{3} - ca. [0-9]{4}|efter [0-9]{3} - ca. [0-9]{3}|efter [0-9]{2} - ca. [0-9]{3}|efter [0-9]{2} - ca. [0-9]{2}|efter [0-9]{1} - ca. [0-9]{2}|efter [0-9]{1} - ca. [0-9]{1}|efter [0-9]{4} - efter [0-9]{4}|efter [0-9]{3} - efter [0-9]{4}|efter [0-9]{3} - efter [0-9]{3}|efter [0-9]{2} - efter [0-9]{3}|efter [0-9]{2} - efter [0-9]{2}|efter [0-9]{1} - efter [0-9]{2}|efter [0-9]{1} - efter [0-9]{1}|ca. [0-9]{4} - efter [0-9]{4}|ca. [0-9]{3} - efter [0-9]{4}|ca. [0-9]{3} - efter [0-9]{3}|ca. [0-9]{2} - efter [0-9]{3}|ca. [0-9]{2} - efter [0-9]{2}|ca. [0-9]{1} - efter [0-9]{2}|ca. [0-9]{1} - efter [0-9]{1}|f.Kr. [0-9]{4} - f.Kr. [0-9]{4}|f.Kr. [0-9]{4} - f.Kr. [0-9]{3}|f.Kr. [0-9]{3} - f.Kr. [0-9]{3}|f.Kr. [0-9]{3} - f.Kr. [0-9]{2}|f.Kr. [0-9]{2} - f.Kr. [0-9]{2}|f.Kr. [0-9]{2} - f.Kr. [0-9]{1}|f.Kr. [0-9]{1} - f.Kr. [0-9]{1}|[0-9]{2} f.Kr. - [0-9]{2} e.Kr.|ukendt|ukendt - [0-9]{4}|ukendt - ca. [0-9]{4}|ukendt - [0-9]{3}|ukendt - ca. [0-9]{4}|ca. [0-9]{4} - ukendt|ukendt - ca. [0-9]{3}|ukendt - efter [0-9]{3}|([0-9]+)-tallet|ca. [0-9]{3}-tallet f.Kr.|1. århundrede"} } ?,
         element ns1:cell {
            attribute type { xsd:string { pattern="nation" } },
         xsd:string {pattern="am.|da.|da.-no.|eng.|fr.|gr.|hebr.|holl.|isl.|isr.|ital.|no.|no.-da.|oldisl.|romersk|russ.|sv.|tjek.|ty.|ukendt"} } *,
         element ns1:cell { 
           attribute type { xsd:string { pattern="profes"} },
         text } ?,
         element ns1:cell { 
           attribute type { xsd:string { pattern="facts"} },
         text } ?,
      empty } *,
   empty }
}