public/xml/persRNC.rnc

# datatypes d = "http://relaxng.org/ns/compatibility/datatypes/1.0"
# Kim Steen Ravn:
# 2011.ukendt er stattet med [?]
# 2011.10.18: att.værdi 'original' = egl. i visning
# 2011.09.29: att. n og corresp på element row, ændringer i forhold til møde den 15.09
# matro- og patronym sammen med lastName
# 2011.08.26: rendBold, flere nationaliteter
# 2011.08.24: tilret af addName
# 2011.06.14: n-attribut på row
# 2011.04.13: att role på row; 2011.04.06: 'pseudo' ændret til 'altName*
# 2011.03.10
# 2011.02.17 (bold i name); 2011.02.14 (tei_all); 2011.02.02; 2011.01.30; 2011.01.29 (reduceret. struk; fra titleTest)

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
namespace ns1 = "http://www.tei-c.org/ns/1.0"

include "tei_all.rnc" {

teiHeader =
  element ns1:teiHeader {
     element ns1:fileDesc {
        element ns1:titleStmt {
           element ns1:title {
           text },
        empty },
     empty },
     element ns1:revisionDesc {
        element ns1:change {
           attribute xml:id { xsd:ID { pattern="ELR|FDS|HY|JEL|JMR|KSG|KSR|NHB|NWB|RSB|VAP|VTH"}}?,
           attribute who { xsd:string { pattern="ELR|FDS|HY|JEL|JMR|KSG|KSR|NHB|NWB|RSB|VAP|VTH"}},
           attribute when { xsd:date },
        text } *,
     empty },
  empty }
  
body =
   element ns1:head {
   text },
   element ns1:table {
      element ns1:row {
         # att. n indeholder Steen Johansens bib.nr.
         attribute n { xsd:string { pattern="[0-9]+|[0-9]+([A-Z])|T" } },
         # att. xml:id er posten unikke identifikation
         attribute xml:id { xsd:ID { pattern="pe[0-9]+"} },
         # att. corresp ndeholder initialer for ansvar. filolog og dato for seneste ændring
         attribute corresp { xsd:string { pattern="(ELR|HY|KSG|KSR|NHB|NWB|RSB|VAP|VTH):2010-[0-9]{2}-[0-9]{2}|(ELR|HY|KSG|KSR|NHB|NWB|RSB|VAP|VTH):2011-[0-9]{2}-[0-9]{2}" } },
         attribute role { xsd:string { pattern="bib|his|fic" } },
         element ns1:cell {
            attribute rend { xsd:string { pattern="name" } },
            element ns1:note {
               attribute type { xsd:string { pattern="firstName" } },
               attribute select { xsd:string { pattern="comma" } } ?,
            ( text & addNameFirstNameContent & rendBold ) },
            element ns1:note {
               attribute type { xsd:string { pattern="lastName" } },
            ( text & addNameLastNameContent & rendBold ) } ?,
         empty } *,
         element ns1:cell {
            attribute rend { xsd:string { pattern="altName" } },
            element ns1:note {
               attribute type { xsd:string { pattern="firstName" } },
            ( text & rendBold & addNameFirstNameContent ) },
            element ns1:note {
               attribute type { xsd:string { pattern="lastName" } },
            ( text & rendBold & addNameLastNameContent ) } ?,
         empty } *,
         element ns1:cell {
            attribute rend { xsd:string { pattern="year" } },
            # eks: 1900 -(| ukendt)|1850 - 1950|1850 - 75|(ca.) 850 - (ca.) 875|75 - 80|1 - 80|ca. 999 - 1999|ca. 1900 - |(ukendt|(ca.|efter)) 1999|1 f.Kr - 10 e.Kr.|20 f.Kr. - 10 f.Kr.|100 - 20 f.Kr.|200 - 100 f.Kr.|1000 - 900 f.Kr.|2000 - 1000 f.Kr.|(800|1900)-tallet|ukendt, ca., efter, før|1. årh|
            xsd:string { pattern="[0-9]{4} -(| [?])|[0-9]{4} - [0-9]{3} f.Kr.|[0-9]{4} - [0-9]{4} f.Kr.|([0-9]{3}|[0-9]{4})-tallet|ca. [1-9]. årh.|(ca. [0-9]{4}|([0-9]{4})) - ([0-9]{4}|[0-9]{2})|[0-9]{3} - [0-9]{3}|[0-9]{3}-tallet - [0-9]{4}-tallet|((ca.) ([0-9]{2}|[0-9]{3})) - ((ca.|før) [0-9]{2}|[0-9]{3})|[0-9]{2} - [0-9]{2}|[0-9]{1} - [0-9]{2}|[0-9] f.Kr. - [0-9]{2} e.Kr.|[0-9]{2} f.Kr. - [0-9]{2} e.Kr.|([0-9]{2}|[0-9]{3}) - ([0-9]{1}|[0-9]{2}|[0-9]{3}) f.Kr.|ca. [0-9]{3} - ((ca.|før) [0-9]{3})|ca. [0-9]{3} f.Kr. - [?]|d. (([0-9]{4}|[0-9]{3})(-tallet| e.Kr.| f.Kr.))|ca. ([0-9]{3}|[0-9]{4}) - ([?]|[0-9]{4})|(ca.|efter|før) ([0-9]{3}|[0-9]{4}) - ([?]|ca.|efter|før) ([0-9]{3}|[0-9]{4}|[0-9]{3} f.Kr.)|((ca. )([0-9]{3}|[0-9]{4})) - [0-9]{3} f.Kr.|før ([0-9]{1}|[0-9]{2}|[0-9]{3}|[0-9]{4})|før [0-9]{4} - [?]|[?]|[?] - ([0-9]{2} e.Kr.|[0-9]. årh.|[0-9]{2}|[0-9]{3}|[0-9]{4})|[?] - (ca.|efter|før) (([0-9]{2} e.Kr.|[0-9]{3})|[0-9]{2}|[0-9]{3}|[0-9]{4})|[?] - (ca. [0-9]{3}|(\.)) f.Kr.|[?] - [0-9]{4}-tallet|1. årh.( e.Kr.)" } } ?,
         element ns1:cell {
            attribute rend { xsd:string { pattern="nation" } },
            attribute select { xsd:string { pattern="comma" } } ?,
         xsd:string {pattern="am.|athensk|bøhmisk|da.|da.-no.|eng.|fr.|fra Lilleasien|frankisk|gotisk|gr.|hebr.|holl.|hollænder|isl.|isl.-da.|israelsk|israelitisk|ital.|nederl.|no.|no.-da.|oldisl.|osmannisk|preussisk|romersk|russ.|sv.|schweizisk|svejtsisk|tjek.|ty.|østrigsk|ukendt"} } *,
         element ns1:cell { 
           attribute rend { xsd:string { pattern="encyc"} },
         ( text & rendItalic ) } ?,
         element ns1:cell { 
           attribute rend { xsd:string { pattern="facts"} },
         ( text & rendItalic ) } ?,
      empty } *,      


   empty }
}

addNameFirstNameContent =
   element ns1:addName {
      attribute type { xsd:string { pattern="birthName|epithet|nickName|original|orthography|patronym" } },
   ( text & addNameFirstNameContent & rendBold ) } *

addNameLastNameContent =
   element ns1:addName {
      attribute type { xsd:string { pattern="birthName|epithet|ladyName|nickName|orthography" } },
   text } *

rendBold =
   element ns1:hi {
      attribute rend { xsd:string { pattern="bold" } },
   text } *

rendItalic =
   element ns1:hi {
      attribute rend { xsd:string { pattern="italic" } },
   text } *